/* estilo del span contraseña despues de moverse */
.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span {
    background: #00dfc4;
    color: #1d2b3a;
    border-radius: 2px;
}

/* si la ventana es menor o igual a 275px de alto, se va a ocultar el main */
@media only screen and (max-height: 275px) {
    .main {
        display: none;
    }
}