<div class="card-container">
  <div class="card">
    <!-- Aquí va toda la información del character para que se vea en formato Card -->
    <label for="name">Name:</label>
    <input type="text" name="name" [value]="serverCharacters[0].name" [(ngModel)]="serverCharacters[0].name" [disabled]="_editable[0]">

    <label for="strength">Strength:</label>
    <input type="text" name="strength" [value]="serverCharacters[0].strength" [(ngModel)]="serverCharacters[0].strength" [disabled]="_editable[0]">

    <label for="agility">Agility:</label>
    <input type="text" name="agility" [value]="serverCharacters[0].agility" [(ngModel)]="serverCharacters[0].agility" [disabled]="_editable[0]">

    <label for="intelligence">Intelligence:</label>
    <input type="text" name="intelligence" [value]="serverCharacters[0].intelligence" [(ngModel)]="serverCharacters[0].intelligence" [disabled]="_editable[0]">

    <label for="life">Life:</label>
    <input type="text" name="life" [value]="serverCharacters[0].life" [(ngModel)]="serverCharacters[0].life" [disabled]="_editable[0]">

    <input type="button" [value]="_btnValue[0]" (click)="boton(0)">
  </div>

  <div class="card">
    <!-- Aquí va toda la información del character para que se vea en formato Card -->
    <label for="name">Name:</label>
    <input type="text" name="name" [value]="serverCharacters[1].name" [(ngModel)]="serverCharacters[1].name" [disabled]="_editable[1]">

    <label for="strength">Strength:</label>
    <input type="text" name="strength" [value]="serverCharacters[1].strength" [(ngModel)]="serverCharacters[1].strength" [disabled]="_editable[1]">

    <label for="agility">Agility:</label>
    <input type="text" name="agility" [value]="serverCharacters[1].agility" [(ngModel)]="serverCharacters[1].agility" [disabled]="_editable[1]">

    <label for="intelligence">Intelligence:</label>
    <input type="text" name="intelligence" [value]="serverCharacters[1].intelligence" [(ngModel)]="serverCharacters[1].intelligence" [disabled]="_editable[1]">

    <label for="life">Life:</label>
    <input type="text" name="life" [value]="serverCharacters[1].life" [(ngModel)]="serverCharacters[1].life" [disabled]="_editable[1]">

    <input type="button" [value]="_btnValue[1]" (click)="boton(1)">
  </div>

  <div class="card">
    <!-- Aquí va toda la información del character para que se vea en formato Card -->
    <label for="name">Name:</label>
    <input type="text" name="name" [value]="serverCharacters[2].name" [(ngModel)]="serverCharacters[2].name" [disabled]="_editable[2]">

    <label for="strength">Strength:</label>
    <input type="text" name="strength" [value]="serverCharacters[2].strength" [(ngModel)]="serverCharacters[2].strength" [disabled]="_editable[2]">

    <label for="agility">Agility:</label>
    <input type="text" name="agility" [value]="serverCharacters[2].agility" [(ngModel)]="serverCharacters[2].agility" [disabled]="_editable[2]">

    <label for="intelligence">Intelligence:</label>
    <input type="text" name="intelligence" [value]="serverCharacters[2].intelligence" [(ngModel)]="serverCharacters[2].intelligence" [disabled]="_editable[2]">

    <label for="life">Life:</label>
    <input type="text" name="life" [value]="serverCharacters[2].life" [(ngModel)]="serverCharacters[2].life" [disabled]="_editable[2]">

    <input type="button" [value]="_btnValue[2]" (click)="boton(2)">
  </div>

  <div class="card">
    <!-- Aquí va toda la información del character para que se vea en formato Card -->
    <label for="name">Name:</label>
    <input type="text" name="name" [value]="serverCharacters[3].name" [(ngModel)]="serverCharacters[3].name" [disabled]="_editable[3]">

    <label for="strength">Strength:</label>
    <input type="text" name="strength" [value]="serverCharacters[3].strength" [(ngModel)]="serverCharacters[3].strength" [disabled]="_editable[3]">

    <label for="agility">Agility:</label>
    <input type="text" name="agility" [value]="serverCharacters[3].agility" [(ngModel)]="serverCharacters[3].agility" [disabled]="_editable[3]">

    <label for="intelligence">Intelligence:</label>
    <input type="text" name="intelligence" [value]="serverCharacters[3].intelligence" [(ngModel)]="serverCharacters[3].intelligence" [disabled]="_editable[3]">

    <label for="life">Life:</label>
    <input type="text" name="life" [value]="serverCharacters[3].life" [(ngModel)]="serverCharacters[3].life" [disabled]="_editable[3]">

    <input type="button" [value]="_btnValue[3]" (click)="boton(3)">
  </div>

  <div class="card">
    <!-- Aquí va toda la información del character para que se vea en formato Card -->
    <label for="name">Name:</label>
    <input type="text" name="name" [value]="serverCharacters[4].name" [(ngModel)]="serverCharacters[4].name" [disabled]="_editable[4]">

    <label for="strength">Strength:</label>
    <input type="text" name="strength" [value]="serverCharacters[4].strength" [(ngModel)]="serverCharacters[4].strength" [disabled]="_editable[4]">

    <label for="agility">Agility:</label>
    <input type="text" name="agility" [value]="serverCharacters[4].agility" [(ngModel)]="serverCharacters[4].agility" [disabled]="_editable[4]">

    <label for="intelligence">Intelligence:</label>
    <input type="text" name="intelligence" [value]="serverCharacters[4].intelligence" [(ngModel)]="serverCharacters[4].intelligence" [disabled]="_editable[4]">

    <label for="life">Life:</label>
    <input type="text" name="life" [value]="serverCharacters[4].life" [(ngModel)]="serverCharacters[4].life" [disabled]="_editable[4]">

    <input type="button" [value]="_btnValue[4]" (click)="boton(4)">
  </div>

  <!-- Dentro del parágrafo va la información del Character que se está modifcando -->
  <p>{{_paragrafo}}</p>
</div>
